body {
    font-family: 'Times New Roman', Arial;
    background-color: whitesmoke;
    max-width: 1500px;

}


.body {
    margin: 0 auto;
    padding: 40px;
    position: relative;
}


h1.titulo {
    font-family: serif;
}

h2 {
    font-family: serif;
    font-size: x-large;
}

id.vidros-bahia {
    color:darkcyan
}

i.slogan {
    font-family: 'Times New Roman';
    font-style: italic;
    border-bottom: 2px dashed

}

.cabecalho {
    font-size: x-large;
    font-family: monospace;

}


a.link {
    text-align: center;
    color: darkcyan;
}

a.link:visited{
    color: rgb(118, 7, 72);
}

.titulo-barra {
    border-top: 2px solid;
    
}

.rodape {
    position: fixed center;
    bottom: 20;
    height: 40px;
    
}
